@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600&family=Montserrat:wght@600;700;800&display=swap');

body {
    font-family : 'Lexend Deca', 'sans serif';
    /* background-color: #0d0d0d; */
    height: 100vh;
    background-image: url(./background.png);
}

.container {
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
  }

.container_titre {
    display:flex;
    justify-content:center;
}

.titre, .sous_titre {
    text-align:center;
    color: #ffffff;
}

.sous_titre {
    padding:10px;
}


.container_case {
    background-color:#fefefe0a;

    display:flex;
    flex-direction:column;

    position:relative;

    width:50%;
    height:300px;

    margin:-8px;
    padding:50px;

 
    border-right:2px;
    border-top:2px;
    border-bottom:2px;
    border-radius: 20px;
    background: linear-gradient(45deg,#ff72e5,#72e5ff);
   
}

.widget{

  width:50%;
  height:300px;
}


.container_titre, .container_soustitre {
    display:flex;
    justify-content:center;
}


.container_bouton {
    display:flex;
    justify-content:center;

    padding:40px;

}


.bouton {
    border-radius: 30px;
    font-size:25px;
    padding:15px;
    background-color: transparent;
    color:white;
    border: solid white 3px;
    transition: 0.3s;
}

.bouton:hover {
  cursor: pointer;
  border: none;
    background-color:#ffffff;
    color:#c982ff;
}

.grid_container {
    margin:-8px;
}


  .chartMenu {
    display: flex;
    align-items: center;
    height: 10vh;
  }

  .chartMenu p {
    padding: 10px;
    font-size: 20em;
    font-weight: 800;
  }
  .chartCard {
    width: 100vw;
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    background: white;
  }

  .logo {
    width: 200px;
  }

  .accueil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
  }

  .partext{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;    
    width: 80vw;
    gap: 30px;
  }

  .topsongs {
    width: 300px;
  }
  
  .containerdesc {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    font-size: 1.2em;
    font-weight: 600;
    color: #ffffff;
  }

  footer {
    min-height:5vh;
    width: 100%;
    background-color: #0000003a;
    display: flex;
    justify-content: space-between;
  }
  
  footer p {
    color: #fff;
    font-size: 1.2em;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  
  .titre_reseau {
    margin: 0;
    margin-top: 25px;
  }
  
  .reseaux {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 10vh;
    padding-right: 25px;
  }
  
  .reseaux p {
    text-align: center;
  }
  
  .img_reseau {
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-top: 30px;
  }
  
  .reseau {
    width: 50px;
    height: 50px;
  }
  
  .footer_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    margin: 0;
  }
  
  .footer_mentions_legales {
    display: flex;
    justify-content: center;
    align-items: center;
  }